/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./src/app/about/About.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.About_main__uDcX5 {
  padding: 2.4rem;
  background: linear-gradient(180deg, #2b2447af 0%, #1a2541 100%);
  border-radius: 24px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.10);
  max-width: 650px;
  margin: 2rem auto;
  animation: About_fadeIn__nJF8L 1s;
}

@keyframes About_fadeIn__nJF8L {
  from { opacity: 0; transform: translateY(30px);}
  to { opacity: 1; transform: translateY(0);}
}

.About_title__VzB_Y {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  color: #0070f3;
  margin-bottom: 1rem;
  text-shadow: 0 4px 6px #072635;
}

.About_intro__zuc6j {
  text-align: center;
  font-size: 1.2rem;
  color: #93beff;
  margin-bottom: 0.4rem;
  text-shadow: 0 2px 4px #020a12;
}

.About_card__20UCr, .About_cardAlt__4o3xU {
  background: #23335a;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  transition: transform 0.2s, box-shadow 0.2s;
}

.About_cardAlt__4o3xU {
  background: linear-gradient(90deg, #183455 60%, #0f7a88 96%);
  color: #fff;
  border-left: 6px solid #1a5389;
  text-align: center;
}

.About_sectionTitle__j3qYP {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b5c4f0;
  margin-bottom: 1rem;
}

.About_featureList____fxZ {
  list-style: none;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 500px;
}

.About_featureItem__JEQWZ {
  display: flex;
  align-items: center;
  background: #7f8698;
  border-radius: 16px;
  box-shadow: 4px 2px 2px 12px rgba(0,12,0,0.07);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  transition: transform 0.2s, box-shadow 0.2s;
}

.About_featureItem__JEQWZ:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 24px rgba(0,112,243,0.15);
}

.About_teamText__e3yTJ {
  margin-right: 1.5rem;
  color: #c9c7c4;
  font-weight: 600;
}

